<h1>Welcome home, baby!</h1>

<ul>
  <% @futebol_teams.each do |team| %>
  <li> <%= team.capitalize %> </li>
  <% end %>
</ul>

<!-- <a href="/contact">Contact</a> -->

<form action="/">
  <input type="text" name="futebol_team" placeholder="Qual time vocẽ deseja?">
  <input type="submit">
</form>
